name: run-tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    - cron: 0 5 * * 0

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: [8.4, 8.3, 8.2, 8.1, 8.0, 7.4, 7.3]
        laravel: [12.*, 11.*, 10.*, 9.*, 8.*, 7.*, 6.*, 5.6]
        stability: [prefer-lowest, prefer-stable]
        include:
          - laravel: 12.*
            testbench: 10.*
          - laravel: 11.*
            testbench: 9.*
          - laravel: 10.*
            testbench: 8.*
          - laravel: 9.*
            testbench: 7.*
          - laravel: 8.*
            testbench: 6.23
          - laravel: 7.*
            testbench: 5.20
          - laravel: 6.*
            testbench: 4.18
          - laravel: 5.6
            testbench: 3.6
        exclude:
          - laravel: 12.*
            php: 8.1
          - laravel: 12.*
            php: 8.0
          - laravel: 12.*
            php: 7.4
          - laravel: 12.*
            php: 7.3
          - laravel: 11.*
            php: 8.1
          - laravel: 11.*
            php: 8.0
          - laravel: 11.*
            php: 7.4
          - laravel: 11.*
            php: 7.3
          - laravel: 10.*
            php: 8.0
          - laravel: 10.*
            php: 7.4
          - laravel: 10.*
            php: 7.3
          - laravel: 9.*
            php: 7.4
          - laravel: 9.*
            php: 7.3
          - laravel: 7.*
            php: 8.4
          - laravel: 7.*
            php: 8.3
          - laravel: 7.*
            php: 8.2
          - laravel: 7.*
            php: 8.1
          - laravel: 6.*
            php: 8.4
          - laravel: 6.*
            php: 8.3
          - laravel: 6.*
            php: 8.2
          - laravel: 6.*
            php: 8.1
          - laravel: 5.6
            php: 8.4
          - laravel: 5.6
            php: 8.3
          - laravel: 5.6
            php: 8.2
          - laravel: 5.6
            php: 8.1
          - laravel: 5.6
            php: 8.0

    name: P${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.stability }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, bcmath, soap, intl, gd, exif, iconv, imagick, fileinfo
          coverage: none

      - name: Install dependencies
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update
          composer update --${{ matrix.stability }} --prefer-dist --no-interaction

      - name: Execute tests
        run: vendor/bin/phpunit
